@* alt kategorilerin yönetimi: sil-güncelle-yeni ekle *@

@page "/subcategory/SubCategoryIndex"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin,Supplier")]

@using MudBlazor
@using petsas2.Models
@using petsas2.Services.Interface
@using static MudBlazor.Icons.Material

@inject ISubCategoryService SubCategoryService
@inject ICategoryService CategoryService
@inject NavigationManager Navigation
@inject IDialogService DialogService

<h3>Alt Kategori Tablosu</h3>

@if(subs==null)
{
    <MudProgressCircular Indeterminate="true"/>

}

else
{
    <MudTable Items="subs" Hover="true" Striped="true" Bordered="true">
        <HeaderContent>
            <MudTh>Id</MudTh>
            <MudTh>Kategori Adı</MudTh>
            <MudTh>Alt Kategori Adı</MudTh>
            <MudTh>İşlemler</MudTh>
        </HeaderContent>

        <RowTemplate Context="sub">
            <MudTd DataLabel="ID">@sub.Id</MudTd>           
            <MudTd DataLabel="Kategori Adı">@sub.Category!.PetType</MudTd>
            <MudTd DataLabel="Alt Kategori Adı">@sub.ProductName</MudTd>
            <MudTd>
                <MudButton Color="Color.Warning"
                           Variant="Variant.Filled"
                           OnClick="@(() => EditSubCategory(sub.Id))">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                </MudButton>

                <MudButton Color="Color.Error"
                           Variant="Variant.Filled"
                           Class="ms-2"
                           OnClick="@(() => DeleteSubCategory(sub.Id))">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" />
                </MudButton>
            </MudTd>
        </RowTemplate>
    </MudTable>

}

<MudStack Spacing="2" Class="mt-4">
    <MudButton Color="Color.Primary" Class="mt-4"
    OnClick="@( () => OpenAddSubCategoryPage() )">
        <MudIcon Icon="@Icons.Material.Filled.Add" Class="me-1" />
        Yeni Alt Kategori Ekle
    </MudButton>

    <MudText Typo="Typo.caption" Class="mt-2">
        Bu sayfa yalnızca Admin ve Tedarikçiler için erişilebilir. Silinen alt kategoriler sistemden tamamen kaldırılmaz.
    </MudText>
</MudStack>

@code{
    private List<Models.SubCategory>? subs;

    protected override async Task OnInitializedAsync()
    {
        subs = await SubCategoryService.GetAllAsync();
    }

    private void OpenAddSubCategoryPage()
    {
        Navigation.NavigateTo("/subcategory/SubCategoryCreate");
    }

    private async Task DeleteSubCategory(int id)
    {
        bool? confirmed = await DialogService.ShowMessageBox(
             "Alt kategoriyi sil",
            "Bu alt katergoriyi silmek istediğinizden emin misiniz?",
            yesText: "Evet",
            cancelText: "Vazgeç"
        );
        if (confirmed == true)
        {
            await SubCategoryService.SoftDelete(id);
            subs = await SubCategoryService.GetAllAsync();
        }
    }

    private void EditSubCategory(int id)
    {
        Navigation.NavigateTo($"/subcategory/SubCategoryEdit/{id}");
    }

}